spring_profiles:
  enabled: true
  spring_compositeRepos:
  # Based on the user requiremnt the number of multiple sources from where configuration needs to be pulled can be updated below as mentioned.
    - type: git
      uri: "https://github.com/mosip/mosip-config"
      version: "devupgrade"
      ## Folders within the base repo where properties may be found.
      searchFolders: ""
      private: false
      ## User name of user who has access to the private repo. Ignore for public repo
      username: ""
      token: ""
      spring_cloud_config_server_git_cloneOnStart: true
      spring_cloud_config_server_git_force_pull: true
      spring_cloud_config_server_git_refreshRate: 5
  spring_fail_on_composite_error: false

localRepo:
  enabled: false       # Set this to "true" inorder to Enable config-server to pull configurations from local git repo.
  spring_profiles_active: "native"
  spring_cloud_config_server_native_search_locations: "file:///var/lib/config_repo"
  spring_cloud_config_server_accept_empty: true
  spring_cloud_config_server_git_force_pull: false
  spring_cloud_config_server_git_refreshRate: 0
  spring_cloud_config_server_git_cloneOnStart: false

volume:
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack).
  ##
  # storageClass: "-"
  ##
  ## If you want to reuse an existing claim, you can pass the name of the PVC using
  ## the existingClaim variable
  # existingClaim: your-claim
  ## ReadWriteMany not supported by AWS gp2
  name: config-server
  storageClass: nfs-client
  accessModes:
    - ReadWriteMany
  size: 10Mi
  existingClaim:
  # Dir where config and keys are written inside container
  mountDir: '/var/lib/config_repo'
  nfs:
    path: ''  # Dir within the nfs server where config repo is cloned/maintained locally.
    server: ''  # Ip address of nfs server.

## Extra environment variables to be passed to the config-server container
## By default, these are enabled for development/testing. Set enabled: false in production if not needed.
extraEnvVars:
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_KERNEL_UIN_MIN_UNUSED_THRESHOLD_OVERRIDE
    value: "10000"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_AUTH_SERVER_ADMIN_ALLOWED_AUDIENCE_IDREPO_OVERRIDE
    value: "mosip-regproc-client,mosip-prereg-client,mosip-admin-client,mosip-crereq-client,mosip-creser-client,mosip-datsha-client,mosip-ida-client,mosip-resident-client,mosip-reg-client,mpartner-default-print,mosip-idrepo-client,mpartner-default-auth,mosip-syncdata-client,mosip-masterdata-client,mosip-idrepo-client,mosip-pms-client,mosip-hotlist-client,opencrvs-partner,mpartner-default-digitalcard,mpartner-default-mobile,mosip-signup-client,mosip-testrig-client"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_IDREPO_CREDENTIAL_REQUEST_ENABLE_CONVENTION_BASED_ID_IDREPO_OVERRIDE
    value: "true"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_AUTH_SERVER_ADMIN_ALLOWED_AUDIENCE_KERNEL_OVERRIDE
    value: "mosip-toolkit-android-client,mosip-toolkit-client,mosip-regproc-client,mosip-prereg-client,mosip-admin-client,mosip-crereq-client,mosip-creser-client,mosip-datsha-client,mosip-ida-client,mosip-resident-client,mosip-reg-client,mpartner-default-print,mosip-idrepo-client,mpartner-default-auth,mosip-syncdata-client,mosip-masterdata-client,mosip-idrepo-client,mosip-pms-client,mosip-hotlist-client,mobileid_newlogic,opencrvs-partner,mosip-deployment-client,mpartner-default-digitalcard,mpartner-default-mobile,mosip-signup-client,mosip-testrig-client"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_KERNEL_VID_MIN_UNUSED_THRESHOLD_OVERRIDE
    value: "10000"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PREREGISTRATION_CAPTCHA_ENABLE_OVERRIDE
    value: "false"
    enabled: true
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ESIGNET_CAPTCHA_REQUIRED_ESIGNET_OVERRIDE
    value: ""
    enabled: true
